$yellow : #ba9898 ;


@media (min-width: 601px) and (max-width: 1500px) {
    .menu {width: 58%;}
    a  { width: 30%;
         font-size: 11pt; }
    .kubs { left: 12%; }
    .kubs:after {
        left: -80px;
    }
    .footer_wap {
        width: 85%;
    }
}
@media  (min-width: 1500px) and (max-width: 4500px) {
    .kubs { left: 25%; }
    .kubs:after {
        left: -175px;
    }
    .footer_wap {
        width: 100%;
    }
}
@keyframes rotata {
    0%{transform: rotate(45deg) rotateY(0deg)}
    25%{transform: rotate(45deg) rotateY(90deg)}
    50%{transform: rotate(45deg) rotateY(180deg)}
    75%{transform: rotate(45deg) rotateY(270deg)}
    100%{transform: rotate(45deg) rotateY(360deg)}
    }
@keyframes todd{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}
@mixin listKurs {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    top: 0;
    max-width: 1920px;
    position: relative;
    background-repeat: no-repeat;
}
.listkurs {
    height: 1400px;
    background-image: url("../../imgnis/fffoo.png");
    background-size: 100%;
    background-position: bottom;
    @include listKurs ();
}
.listKurs1 {
    background-image: url(../../imgnis/blue.png);
    background-size: 605%;
    background-position: top;
    @include listKurs ();
}
.navi {
    width: 100%;
    display: flex;
    position: relative;
}
.logo {
    position: absolute;
    top: -150px;
    left: 60px;
    transform: rotate(45deg);
    width: 300px;
    height: 300px;
    background-color: rgb(186, 152, 152);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.logo1 {
    background-image: url(../../ico/mark3.png);
    background-repeat: no-repeat;
    background-position: 50% 72%;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo1 > span {
    font-size: 20pt;
    font-weight: 500;
}
.nomber > span {
    width: 175px;
    font-size: 16pt;
    font-weight: 400;
    margin-right: 15px;
    margin-top: 14px;
}
.buttom > span{
    display: flex;
    margin-top: 0;
    width: 100px;
    font-weight: 500;
}

.menu1 {
    display: flex;
    justify-content: space-evenly;
    width: 640px;
    margin-left: 70px;
}

.nomber {
    display: flex;
    flex-direction: row;
    transform: matrix(1,0,0,1,15,-10);

}
.VFI {
    padding: 0;
    display: flex;
    list-style: none;
}
.lii {
    margin-right:30px;
}

.menu_kurs {
    position: absolute;
    width: 75%;
    left: 335px;
    top: 0;
    display: flex;
    margin: 20px 0%;
    justify-content: space-around;
}
.kurs_a {
    display: inline-block;
    text-align: center;
    font-size: 14pt;
    color: black;
       &:hover {
          text-decoration: overline;
          color: black; }
}



.kubs {
    position: absolute;
    height: 500px;
    top: 235px;
}

.kubs:after{
    content: "Какой язык хотите изучать?";
    position: absolute;
    top: 67px;
    font-weight: 600;
    font-size: 21pt;
    text-align: left;
    width: 230px;
}
.cub {
    width: 150px;
    height: 150px;
    position: absolute;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .6s ease;
    transform-style: preserve-3d;
    background-color: #bacbdc;
    border: 2px solid transparent;
    cursor: pointer;
     &:hover {
border: 2px solid black;
                  .cub_q {
                      display: none ; } 
            }
}
.das {
    position: relative;
    z-index: 2;
}
.cub1 {
    background-color: rgb(186, 203, 220);
    font-size: 11pt;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 261px;
    left: 55px;
}
.cub2 {
    top: 140px;
    left: 180px;
}
.cub_q{
    background-size: cover;
    transform: rotate(-45deg);
    width: 140%;
    height: 140%;
    position: absolute;
    transition: .3s ease;
}
.cub12 {
    background-image: url(../../imgnis/oslo.jpg);
}
.cub22 {
    background-image: url(../../imgnis/island.png);
}
.cub32 {
    background-image: url(../../imgnis/fin.png); 
}
.cub42 {
    background-image: url(../../imgnis/shved.png); 
}
.cub52 {
    background-image: url(../../imgnis/dat.png);
}
.cub3 {
    top: 140px;
    left: 429px;
&:after {
    content: "";
    position: absolute;
    background: rgb(67, 33, 50);
    top: 100px;
    left: -76px;
    width: 50px;
    height: 50px; }
}
.cub4 {
    left: 305px;
    bottom: 87px;
}
.cub5 {
    left: 670px;
    top: 140px;
}
.cub6, .cub66, .cub666 {
    transform: rotate(45deg);
}
.cub6 {
    background-color: rgb(186, 203, 220);
    width: 80px;
    height: 80px;
    position: relative;
    top: -45px;
    left: 585px;
}
.cub66 {
    background: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: initial;
}
.cub666 {
    background: black;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: initial;
}

.cu {
    transform: rotate(-45deg);
    font-size: 14pt;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
    left: 50px;
    bottom: -123px;
}
.cun {
    transform: rotate(-45deg);
    font-size: 14pt;
    color: black;
    left: 0px;
    top: 40px;
    position: absolute;
}
.cun1 {
    transform: rotate(-45deg);
    font-size: 10pt;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 60px;
    left: 25px;
    width: 116px;
    text-decoration: underline;
}
.cun1:hover {
    text-decoration: underline; 
}
.cub::after {
    content: "";
    width: 20px;
    height: 1px;
    border-top: 2px solid;
    position: absolute;
    top: 110px;
    left: 99px;
    transform: rotate(-45deg);
    z-index: -1;

}
.cub::before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    position: absolute;
    top: 100px;
    left: 110px;
    transform: rotate(0deg);
}
.listnis {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.kubs::before {
    content: "выберете ваш уровень владения языком";
    position: absolute;
    top: 510px;
    left: 145px;
    font-weight: 400;
    font-size: 26pt;
    width: 680px;
}
.l2 {
    position: relative;
}
.l {
    width: 29%;
    height: 225px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    transform: matrix3d(1,0,0,0,0,1,0,0.00,0,0,1,0,0,0,0,1);
    display: flex;
    cursor: pointer;
}
.l:hover {
    transform: matrix3d(1,0,0,0,0,1,0,0.00,0,0,1,0,0,0,0,0.95);
    background: rgba(0, 0, 0, 0.6);
}
form {
    visibility: hidden;
    position: absolute;
    left: -100%;
}
.label_ch{
    width: 30px;
    height: 30px;
    background-color: antiquewhite;
    position: absolute;
    top: 90px;
    left: 30px;
    transform: rotate(-45deg);
    transition: 0.4s ease;
    z-index: 2;
}


#ch1, #ch2, #ch3, #ch4, #ch5, #ch6 {
    visibility: hidden;
}
.buttom {
    position: absolute;
    width: 170px;
    height: 35px;
    background-color: rgb(186, 203, 220);
    font-size: 16pt;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.6s cubic-bezier(.1,.7,.40,1.2);
    border: 0px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.buttom1{
    animation: todd 4s ease-out 0.3s infinite normal;
}
.buttom:hover {
    border: 2px solid rgb(67, 33, 50);;
    color: rgb(67, 33, 50);
}
.buttom:active {
    background-color: rgb(67, 33, 50);
    color: #fff; }


.div {
    width: 50px;
    height: 50px;
    background-color: bisque;
    position: relative;
    left: 0;
}
.label_ch_1, .label_ch_2, .label_ch_3, .label_ch_4, .label_ch_5, .label_ch_6 {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    position: absolute;
    top: 80px;
    left: 20px;
    transform: rotate(-45deg);
    z-index: 0;
    transition: 0.4s ease-in;
}
#ch1:checked ~ .label_ch_1 {
    border: 2px solid rgb(186, 203, 220);
}
#ch2:checked ~ .label_ch_2 {
    border: 2px solid rgb(186, 203, 220);
}
#ch3:checked ~ .label_ch_3 {
    border: 2px solid rgb(186, 203, 220);
}
#ch4:checked ~ .label_ch_4 {
    border: 2px solid rgb(186, 203, 220);
}
#ch5:checked ~ .label_ch_5 {
    border: 2px solid rgb(186, 203, 220);
}
#ch6:checked ~ .label_ch_6 {
    border: 2px solid rgb(186, 203, 220);
}

.p, .text {
    color: #fff;
    transform: matrix(0.8, 0, 0, 0.8, 46, 50);
    width: 90%;
    font-size: 14px;
    text-align: left;
}
.header_kurs {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: matrix(1, 0, 0, 1, 0, 30);
}
h1 {
    font-size: 2.0rem;
}
.main_kurs {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    top: 50px;
}
.nis_l{
    width: 481px;
    height: 300px;
    background-image:  url("../../imgnis/pattern.png"), linear-gradient(to top, rgb(186, 203, 220), rgb(226, 232, 238));
    background-position: 10% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer{
    position: relative;
    display: flex;
    width: 100%;
    transform: matrix(1, 0, 0, 1, 0, 45);
    justify-content: flex-end;
}
.footer_n{
    width: 200px;
    height: 80px;
    border: 1px solid #fff;
    padding: 11px 20px 0px 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s ease;
}
.footer_n:hover {
    background-color: #bacbdc;
    color: black;
}
.n {
    margin: 0px 30px 0px 30px ;
}
.footer_kurs {
    width: 100%;
    position: relative;
    height: 470px;
    transform: matrix(1, 0, 0, 1, 0, 45);
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(216, 199, 199, 0.418)
}
.footer_block{
    background-color: rgb(186, 152, 152);
    width: 260px;
    height: 260px;
    position: absolute;
    left: -180px;
    top: 97px;
    transform: rotate(-45deg);
}
.data{
    width: 290px;
    margin-left: 50px;
}
.data_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    transition: 0.8s ease 0.1s;
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
}

#feb05_02:checked ~ .nis_l .data .data_kurs1 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#feb07_02:checked ~ .nis_l .data .data_kurs2 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#feb10_02:checked ~ .nis_l .data .data_kurs3 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#feb20_02:checked ~ .nis_l .data .data_kurs4 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#mar05_03:checked ~ .nis_l .data .data_kurs5 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#mar07_03:checked ~ .nis_l .data .data_kurs6 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#mar10_03:checked ~ .nis_l .data .data_kurs7 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#mar15_03:checked ~ .nis_l .data .data_kurs8 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#mar20_03:checked ~ .nis_l .data .data_kurs9 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#mar31_03:checked ~ .nis_l .data .data_kurs10 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#apr05_04:checked ~ .nis_l .data .data_kurs11 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#apr07_04:checked ~ .nis_l .data .data_kurs12  {
    background: #fff;
    .li_nis{ visibility: visible; } }
#apr10_04:checked ~ .nis_l .data .data_kurs13 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#apr15_04:checked ~ .nis_l .data .data_kurs14 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#apr20_04:checked ~ .nis_l .data .data_kurs15 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#apr31_04:checked ~ .nis_l .data .data_kurs16 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#may05_05:checked ~ .nis_l .data .data_kurs17 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#may07_05:checked ~ .nis_l .data .data_kurs18 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#may10_05:checked ~ .nis_l .data .data_kurs19 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#may15_05:checked ~ .nis_l .data .data_kurs20 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#may20_05:checked ~ .nis_l .data .data_kurs21 {
     background: #fff;
     .li_nis{ visibility: visible; } }
#jun05_06:checked ~ .nis_l .data .data_kurs22 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#jun07_06:checked ~ .nis_l .data .data_kurs23 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#jun10_06:checked ~ .nis_l .data .data_kurs24 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#jun15_06:checked ~ .nis_l .data .data_kurs25 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#jun20_06:checked ~ .nis_l .data .data_kurs26 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#jul05_07:checked ~ .nis_l .data .data_kurs27 {
     background: #fff;
     .li_nis{ visibility: visible; } }
#jul07_07:checked ~ .nis_l .data .data_kurs28 {
     background: #fff;
    .li_nis{ visibility: visible; } }
#jul10_07:checked ~ .nis_l .data .data_kurs29 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#jul15_07:checked ~ .nis_l .data .data_kurs30 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#jul20_07:checked ~ .nis_l .data .data_kurs31 {
    background: #fff;
    .li_nis{ visibility: visible; } }
#jul31_07:checked ~ .nis_l .data .data_kurs32 {
    background: #fff;
    .li_nis{ visibility: visible; } }

.li_nis{
    font-size: 12px;
    margin-left: 110px;
    visibility: hidden;}
    .data_ul:hover{
            background: #fff;
                 .li_nis{ visibility: visible; }
    }
         
.footer_kurs::after{
    content: url("../../ico/mark3_white.png");
    position: absolute;
    top: 100px;
    left: 80px;
}
.footer_wap{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}
.text_kurs2 > ul {
    display: flex;
    flex-direction: column;
}
.footer_text{
    margin-bottom: 60px;
    width: 300px;
}
#form_chose {
    width: 55%;
    background-color: #bacbdc;
    z-index: 2;
    overflow: auto;
    position: relative;
    border-radius: 20px;
    border: 10px solid rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    padding: 18px;
}
input[type="text"] {
    width: 400px;
    border-radius: 3px;
    border: 2px;
}
input[type="submit"] {
    width: 180px;
    margin-left: 400px;
    margin-top: 10px;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
    transition: .1s ease;
    font-size: 14pt;
    letter-spacing: 1px;
    font-weight: 500;
}
#kurs_chose {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.kurs_comp {
    width: 110px;
    font-size: 8pt;
    background: aliceblue;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
    transition: .3s ease;
      &:hover{
        transform: matrix(1.1, 0, 0, 1.1, 0, 0);
      }
}
#kurs_data {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
input[type="submit"]:hover{
background-color: $yellow;
color: #fff }
textarea {
    height: 100px !important;
    border-radius: 3px;
    border: 2px;
}
#f_cash:checked ~ .block_cash .f_cash {
    border: 1px solid black;
}
#e_cash:checked ~ .block_cash .e_cash {
    border: 1px solid black;
}
.f_cash:hover {
    background-color: $yellow;
    color: #fff ;
}
.e_cash:hover {
    background-color: $yellow;
    color: #fff ;  
}
.cash{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: .2s ease;
}
.block_cash{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.form_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form_frag {
width: 495px;
height: 100px;
font-weight: 500;
}
.teg_kurs {
    font-weight: 500;
}
.aside {
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 3;
}
#close {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 60;
    background-color: aliceblue;
    border-radius: 40px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: .3s ease;
        &:after {
              content: "";
              width: 25px;
              height: 1px;
              background: black;
              position: absolute;
              top: 19px;
              left: 8px;
              transform: rotate(45deg); }
        &:before {
              content: "";
              width: 25px;
              height: 1px;
              background: black;
              position: absolute;
              top: 19px;
              left: 8px;
              transform: rotate(-45deg); }
         &:hover{
              transform: matrix(1.1, 0, 0, 1.1, 0, 0);
              color: $yellow; }
}